html {
  background: grey;
}

body {
  background: linear-gradient(grey, black);
  margin: 0px;
}

header {
  height: 10%;
  background: grey;
  border-bottom: 2px solid grey;
}

h1 {
  font-size: 3em;
  font-family: monospace;
  margin: 30px;
  text-align: center;
  display: block;
  color: white;
}

h2 {
  font-family: sans-serif;
  color: white;
  margin-left: 10%;
  font-size: 1em;
}

#searchresults {
  width: 100px;
  height: 140px;
}

#artist {
  color: darkgrey;
  font-style: italic;
  font-family: sans-serif;
}

#searchBox {
  background: white;
  width: 470PX;
  height: 30px;
  font-size: 1em; 
  align-content: flex-end;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

#submitButton {
  border: 1px solid darkblue;
  height: 35px;
  width: 130px;
  margin-top: 0px;
  font-size: 1em;
  border-radius: 8px;
}

.box {
  align-content: center;
  width: 120px;
  height: auto;
  margin: 15px;
}

.container {
  flex-wrap: wrap;
  height: 770px;
}

#results {
  justify-content: space-evenly;
  margin-left: 10%;
  width: 80%;
  height: 500px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.search-form {
  margin-left: 10%;
  margin-top: 3%;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#music-player {
  height: 60px;
  width: 700px;
}

p {
  font-size: 1em;
  margin: 0px 10px;
  color: white;
  font-family: sans-serif;
}

img {
  margin-right: 20px;
}
