html {
  background: grey;
  display: flex;
  justify-content: center;

}

body {

  border: 1px solid black;
  height: 650px;
  width: 415px;
  background-image: url("music.png");
  //background: linear-gradient(grey, black);
  //margin: 0px;
}

header {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: black;
  border-bottom: 2px solid grey;
}

h1 {
  font-size: 1.6em;
  font-family: monospace;
  //margin: 30px;
  text-align: center;
  display: block;
  color: lightgrey;
}

h2 {
  font-family: sans-serif;
  color: white;
  margin-left: 10%;
  font-size: 1em;
}

#searchresults {
  width: 50px;
  height: 140px;
}

#artist {
  color: darkgrey;
  font-style: italic;
  font-family: sans-serif;
}

#searchBox {
  background: white;
  width: 260PX;
  height: 15px;
  //font-size: 1em;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 30px;
}

#submitButton {
  border: 1px solid darkblue;
  height: px;
  width: 80px;
  margin-top: 0px;
  //font-size: 1em;
  border-radius: 8px;
}

.box {
  align-content: center;
  width: 120px;
  height: 200px;
  margin: 15px;
}

.container {
  //height: 710px;
}

#results {
  justify-content: space-around;
  margin-left: 10%;
  width: 80%;
  height: 410px;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: scroll;
}

.search-form {
  margin-top: 3%;
}

.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#music-player {
  height: 60px;
  width: 100%;
}

p {
  font-size: 1em;
  margin: 0px 10px;
  color: white;
  font-family: sans-serif;
}

img {
  margin-right: 20px;
}

#welcome {
  width: 50px;
  font-size: .5em;
}
